/*Regular Font*/
@font-face {
    font-family: ‘opendyslexi’;
    src:    url('../fonts/OpenDyslexic-Regular.woff2'),
            url('../fonts/OpenDyslexic-Regular.woff');
    font-style: normal;
    font-weight: normal;
}

/*Bold Font*/
@font-face {
    font-family: ‘opendyslexi’;
    src:    url('../fonts/OpenDyslexic-Bold.woff2') format('woff2'),
            url('../fonts/OpenDyslexic-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

/*Bold Italic Font*/
@font-face {
    font-family: ‘opendyslexi’;
    src:    url('../fonts/OpenDyslexic-BoldItalic.woff2') format('woff2'),
            url('../fonts/OpenDyslexic-BoldItalic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
}

/*Italic Font*/
@font-face {
    font-family: ‘opendyslexi’;
    src:    url('../fonts/OpenDyslexic-Italic.woff2') format('woff2'),
            url('../fonts/OpenDyslexic-Italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
}