/*Regular Font*/
@font-face {
    font-family: ‘opendyslexic’;
    src:    url('../fonts/OpenDyslexic-Regular.woff2') format('woff2'),
            url('../fonts/OpenDyslexic-Regular.woff') format('woff');
}

/*Bold Font*/
@font-face {
    font-family: ‘opendyslexic’;
    src:    url('../fonts/OpenDyslexic-Bold.woff2') format('woff2'),
            url('../fonts/OpenDyslexic-Bold.woff') format('woff');
}

/*Bold Italic Font*/
@font-face {
    font-family: ‘opendyslexic’;
    src:    url('../fonts/OpenDyslexic-BoldItalic.woff2') format('woff2'),
            url('../fonts/OpenDyslexic-BoldItalic.woff') format('woff');
}

/*Italic Font*/
@font-face {
    font-family: ‘opendyslexic’;
    src:    url('../fonts/OpenDyslexic-Italic.woff2') format('woff2'),
            url('../fonts/OpenDyslexic-Italic.woff') format('woff');
}